@{
    ViewBag.Title = "Home Page";
}
@*@addtaghelper "Microsoft.AspNet.Mvc.TagHelpers"*@

<html>
<head>
    <title>
        @ViewBag.Title
    </title>
</head>
<body>
    <div id="content" class="content"></div>
    <script src="/app/bundle.js"></script>
</body>
</html> 